extends container
block content
    div#id
        | Дякуємо за покупку на нашому сайті #{userName} #{surname}!!!!!!!
    div
        div
            div
                div

                    img(src='../static/image/no_image.jpg' alt='device')
                each item, index in JSON.parse(devicesJson)
                    div
                        |Модель: #{item.name}
                        |Колір: #{item.color}
                        |Ширина: #{item.width}
                        |Висота: #{item.height}
                        |Глубина: #{item.depth}
                        div
                            | Вартість за штуку: #{JSON.parse(devicesString)[index].priceDevice} грн.
                            | Кількість: #{JSON.parse(devicesString)[index].amountDevice} шт.
                            | Вартість за #{JSON.parse(devicesString)[index].amountDevice} шт.: #{JSON.parse(devicesString)[index].sumPriceDevice} грн.

    div
        |Сума замовлення:  #{sumaOrder} грн.