extends container
block content
    div#id
        | Дякуємо за покупку на нашому сайті #{userName} #{surname}!!!!!!!
    div#id8
        each item, index in JSON.parse(devicesJson)
            div#id9
                div
                    //img(src=require('/static/no_image.jpg'))
                    //img( src='#{imageJson[index]}' alt='Image device' style={width: '200px', height: 'auto'})
                    img(src='https://www.freeiconspng.com/thumbs/no-image-icon/no-image-icon-23.jpg' alt='Image device' style={width: '200px', height: 'auto'})
                ul
                    li
                        | Тип: #{JSON.parse(typeJson)[index]}
                    li
                        | Бренд: #{JSON.parse(brandJson)[index]}
                    li
                        | Модель: #{item.name}
                    li
                        | Колір: #{item.color}
                    li
                        | Ширина: #{item.width} см
                    li
                        | Висота: #{item.height} см
                    li
                        | Глубина: #{item.depth} см
            div#id10
                ul
                    li
                        | Вартість за штуку: #{JSON.parse(devicesString)[index].priceDevice} грн.
                    li
                        | Кількість: #{JSON.parse(devicesString)[index].amountDevice} шт.
                    li
                        | Вартість за #{JSON.parse(devicesString)[index].amountDevice} шт.: #{JSON.parse(devicesString)[index].sumPriceDevice} грн.

    div#id11
        |Сума замовлення:  #{sumaOrder} грн.

